.header {
  height: 89px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #e26228;
}

.logo {
  margin-left: 88px;
}

h2 {
  color: #666;
  font-family: 'OpenSansBold', sans-serif;
}

nav {
  margin: 0 60px 0 400px;
  padding: 0;
}

.header-nav {
  margin: 0;
  padding: 0;
}

.header-nav li {
  display: inline-block;
  margin: 0;
  padding: 0 17px 0 17px;
}

.header-nav li:first-child {
  border: 1px solid #e26228;
  border-radius: 25px;
  height: 25px;
  background-color: #e26228;
}

.header-nav li:first-child a {
  color: #fff;
  line-height: 25px;
}

.header-nav li.search{
  padding: 0 5px 0 20px;
}

.header-nav li:last-child {
  padding: 0;
}

.header-nav a {
  text-decoration: none;
  font: 14px/20px 'OpenSansBold', sans-serif;
  color: #9e9e9e;
}

.header-nav a:hover {
  color: #e26228; 
}

.header-nav li>i {
  color: #e26228;
}

.header-img {
  color: #9e9e9e;
  background-image: url('img/head-img.jpg'), url('build/img/head-img.jpg'); /*первый url для сборки с помощью gulp, второй - для просмотра в браузере без сборки с gulp*/
  padding-left: 89px;
}

.header-img h1 {
  padding-top: 42px;
  padding-bottom: 16px; /*растояние между строчками*/
  /*margin: 0 0 0 3px;*/
  margin: 0;
  color: #e26228;
  font: 36px/36px OpenSansLight;
  font-weight: 100;
}

.header-img p {
  font: 14px/8px OpenSansLight, sans-serif;
  color: #666;
  margin: 0 0 0 3px;
  padding-bottom: 53px;
}

.breadcrumbs {
  padding-left: 95px;
  height: 43px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  background-color: #f9f9f9;
}

.breadcrumbs a {
  text-decoration: none;
  color: #e26228;
  font: 12px/45px 'OpenSansRegular', sans-serif;
  word-spacing: 4px;
}

.breadcrumbs a i {
  color: #9e9e9e;
}

.breadcrumbs a:first-child i.fa-home {
    color: #e26228;
}

.breadcrumbs a:last-child {
  color: #666;
  margin-left: 2px;
}