@import "fonts.css"; 

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: 'OpenSansRegular', sans-serif;
}

.container {
  width: 1360px; /*fixed width*/
  margin: 0 auto;
}