.left-column {
  float: left;
  width: 270px;
  font-size: 13px;
  margin-left: 10px;
}

aside h3 {
  border-bottom: 1px solid #dfdfdf;
  height: 20px;
  margin: 3px 0 0 1px;
  font: 14px/18px 'OpenSansBold', sans-serif;
  color: #666;
  padding-bottom: 8px;
}

/*BLOG CATEGORIES*/

.blog-categories {
  padding-top: 34px;
}

.categories {
  padding-left: 0px;
  margin: 2px 0 0 0;
}

.categories li {
  border-bottom: 1px solid #ececec;
  list-style: none;
  margin: 0 0 1px 0;
  padding: 0;
}

.categories a {
  text-decoration: none;
  font: 13px/32px 'OpenSansRegular', sans-serif;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories a:hover {
  color: #e26228;
}

.fa-fw {
  margin: 0 7px 0 0px;
  font-size: 12px;
}

.link-text {
  flex-grow: 5; /*занимает всю доступную ширину*/
  margin-bottom: -1px;
}

.number {
  width: 28px;
  background: #dfdfdf;
  border: 1px solid #dedede;
  border-radius: 2px;
  font: 11px/14px 'OpenSansRegular';
  text-align: center;
  margin-right: 9px;
}

.categories a:hover .number {
  background: #e26228;
  border-radius: 2px;
  border: 1px solid #e26228;
  color: #fff;
}

/*POPULAR POSTES*/

.popular-postes {
  padding-top: 19px;
  margin-left: 3px;
}

.postes {
  padding-left: 0px;
  margin: 0;
}

.postes li {
  list-style: none;
  border-bottom: 1px solid #ececec;
  margin-top: 10px;
}

.postes a {
  text-decoration: none;
  display: block;
  color: #666;
  padding: 3px 0 3px 1px;
}

.postes img {
  float: left;
}

.postes a:hover img {
  border: 2px solid #e26228;
}

.postes div {
  margin: 0 0 0 70px;
  padding-bottom: 13px;
}

.postes h4 {
  font: 12px/24px 'OpenSansBold', sans-serif; 
  margin: -9px 0 -1px 0px;
}

.postes a:hover  h4 {
  color: #e26228;
}

.postes i {
  font: 10px/10px 'OpenSansItalic', sans-serif;
  font-style: italic;
}

/*TAGS CLOUD*/

.tags-cloud {
  padding-top: 19px;
  margin-left: 3px;
  color: #666;
}

.tags {
  margin-top: 13px;
  width: 269px;
}

.tags a {
  display: inline-block;
  text-decoration: none;
  background-color: #f5f5f5;
  border: 1px solid #ececec;
  border-radius: 2px;
  color: #898989;
  font-size: 11px;
  margin: 0 12px 11px 0px;
  padding: 6px 9px;
}

.tags a:hover {
  color: #fff;
  background-color: #e26228;
  border: 1px solid #e26228;
  font-family: 'OpenSansBold';
}