.selection {
  height: 100px;
  margin-left: 310px;  
  display: flex;
  align-items: center;
  flex-wrap: wrap; /*позволяет блоку с фильтрами расширяться*/
}

.selection-item {
  height: 24px;
  padding: 0 11px 0 12px; /*растояние между блоками ссылок*/
  display: flex;
  color: #666;
}

.selection-item a {
  text-decoration: none;
  font: 12px/24px 'OpenSansRegular', sans-serif; /*line-height должен совпадать с height*/
  color: #666;
}

.selection-item i {
  font-size: 5px; /*уменьшаем размер маркера*/
  padding-right: 5px; /*растояние между маркером и ссылкой*/
  align-self: center; /*ставим маркер строго по середине*/
}

.selection div:first-child {    
  background: #e26228;
  border-radius: 20px;  
  color: #fff;    
}

.selection div:first-child  a {
  color: #fff;
}

.selection-item:hover {
  background: #e26228;
  border-radius: 20px; 
}

.selection-item:hover  a {
  color: #fff;
}

.selection-item:hover  i {
  color: #fff;
}